.details-button {
    color: white;
    background-color: rgb(80, 79, 79);
    text-decoration: none;
    padding: 0.3em;
    border-radius: 0.5em;
}

.details-button:hover {
    background-color: #f9e610;
}

.product-card {
    max-width: 16em;
    background-color: #fff;
    border-radius: 0.8em;
    padding: 0.8em;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.product-card:hover {
    box-shadow: 0 0 1em #888888;
}

.card-image {
    max-width: 15em;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 0.8em;
    /* margin: 0 auto; */
}
