.added-products {
    display: flex;
    gap: 1em;
    padding-top: 1em;

}

@media (max-width: 600px) {
    .added-products {
        display: flex;
        gap: 1em;
        padding-top: 1em;
        flex-wrap: wrap;
        padding-left: 0em;
    }

    .profile-products h2 {
        margin: 1em 0 1em 0;
        
    }
}