.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0.5em auto;
    background-color: rgb(249, 230, 16);
    border-radius: 10px;
    padding: 0.8em;
   
}

.header-button {
    background-color: yellow;
}

.header-logo-icon {
    max-width: 7em;
    padding: 0 0 0 2em;
}

.header-logo-text {
    max-width: 20em;
    padding: 0 0 0 2em;
}

.header-nav {
    display: flex;
    gap: 2em;
    
}

.user {
    display: flex;
    gap: 1em;
}

.guest {
    display: flex;
}
.nav {
    padding: 1em;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.5em;
}

.nav:hover {

    color: white;
    background-color: black;
}

li {
    list-style: none;
}