.product-card {
    max-width: 16em;
    background-color: #fff;
    border-radius: 0.8em;
    border: 1px solid black;
    padding: 0.8em;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-image {
    max-width: 15em;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 0.8em;
    /* margin: 0 auto; */
}
