.user-profile {
    display: flex;
    padding: 3em 1em;
}

.profile-options {
    width: 250px;
    border-right: 0.2rem solid gray;
    padding: 2em 0.5em;
    margin-right: 1em;
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.profile-products {
    padding-left: 3em;
}

.profile-nav {
    width: 180px;
    display: inline-block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    border-radius: 0.5em;
    margin-right: 2em;
    background-color: white;
}

.separator {
    border-bottom: 2px solid gray;
    margin: 0 !important;
}

.profile-nav:hover {
    color: black;
    background-color: #f9e610;
    box-shadow: 0 0 1em #f9e610;
 
}

.new-product {
    margin-top: 2em;
}

@media (max-width: 600px) {
    .user-profile {
        display: flex;
        flex-direction: column;
        padding: 3em 1em;
    }

    .profile-options {
        width: 95vw;
        border-bottom: 0.2rem dotted gray;
        border-right: none;
        padding: 0.5em 0.5em;
        margin-right: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;

    }

    .profile-nav {
        width: 120px;
        display: inline-block;
        text-align: center;
        padding: 1em;
        text-decoration: none;
        color: black;
        border: 1px solid white;
        border-radius: 0.5em;
        margin-right: 0em;
        background-color: white;
    }

    .profile-products {
        padding-left: 3em;
    }

    .new-product {
        margin: 0em;
    }

    li.new-product {
        order: -2;
      }
    
    li.logout {
        order: -1;
      }
  }